*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --grey-color: hsl(0, 0%, 50%);
    --black-color: hsl(0, 0%, 7%);
}

body{
    font-family: 'Figtree', sans-serif;
    display: flex;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--primary-color);
}

.global{
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 1rem;
    box-shadow: 7px 7px;
    width: 100%;
    max-width: 333px;
    padding: 1rem;
}

.picture{
    width: 100%;
    margin-bottom: 1rem;
}

.card_img{
    display: block;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.par_title{
    display: block;
    font-size: 0.9rem;
    font-weight: 800;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    letter-spacing: -0.01rem;
    padding: 0.5em 1em;
    width: fit-content;
    margin-bottom: 1rem;
}

.par_date{
    font-size: 0.8rem;
}

.par_text1{
    margin: 1rem 0;
    transition: 0.2s;
    cursor: pointer;
}

.par_text1:hover{
    color: var(--primary-color);
}

.par_text2{
    color: var(--grey-color);
    line-height: 1.5rem;
    letter-spacing: -0.01rem;
    margin-bottom: 1rem;
}

.photo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person_img{
    display: block;
    width: 30px;
}

.person_name{
    margin-left: 0.8rem;
    font-size: 0.9rem;
    font-weight: 800;
}

.author{
    font-size: 0.688rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.author a{
    color: hsl(228, 45%, 44%);
}